# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py

# SQLite database
*.sqlite3

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Static files
staticfiles/

# Media files
media/

# Django cache files
*_cache/
*.swp

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Virtual Environment
venv/
.env
.venv/
ENV/
env.bak/
env/

# MacOS specific
.DS_Store

# Python dependency files
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.coverage.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Celery
celerybeat-schedule
celerybeat.pid

# Unit test / coverage reports
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# PyCharm
.idea/

# Bandit
.bandit/

# env var files
*.env
*.env.*.bkp
